:root {
    --light-sky: #bee9e8;
    --light-cobalt: #62b6cb;
    --dark-ultramarine: #1b4965;
    --light-ultramarine: #cae9ff;
    --medium-ultramarine: #5fa8d3;

    --header-footer-color: var(--medium-ultramarine);
    --main-color: var(--light-cobalt);
    --form-color: var(--light-cobalt);

    --playlist-item-color: #3d96ca;

    --input-color: #c8eceb;
    --input-color-hover: #d5f1f0;
    --input-color-outline: #2e8786;

    --text-color-dark: #050d11;

    --very-dark-ultramarine: #112f41;
}
